* {
  margin: 0;
  padding: 0;
}
.headings {
  padding-top: 10px;
  font-family: "Fredericka the Great", serif;
}
p {
  padding-top: 10px;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 35px;
  max-width: max-content;
}
.profile {
  max-width: 450px;
  max-height: 450px;
  padding-top: 0;
  padding-right: 0;
  margin-right: 0;
  float: right;
  /* border: 2px solid whitesmoke;
  border-radius: 20px;
  box-shadow: 2px 0px 10px whitesmoke; */
}
