* {
  margin: 0;
  padding: 0;
}
.headings {
  padding-top: 10px;
  font-family: "Fredericka the Great", serif;
}
p {
  padding-top: 10px;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 35px;
  max-width: max-content;
}
.profile {
   max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
}
