.h1 {
  font-family: "Fredericka the Great", serif;
  color: white;
  text-align: center;
}
.contact h4 {
  color: #ff7096;
  font-family: "Playpen Sans", cursive;
}
.contact p {
  width: 85%;
  line-height: 2;
}
.icons {
  color: #ff7096;
  margin-right: 5px;
  font-size: larger;
}
.label {
  font-family: "Playpen Sans", cursive;
  color: #ff7096;
  margin: 10px 0px;
}
.form-control {
  background-color: #080f18;
  color: whitesmoke;
  border: 1px dashed whitesmoke;
}
