.footer p {
  text-align: center;
  margin: auto;
  width: max-content;
  color: whitesmoke;
  font-size: small;
}
/* .foot-icons {
} */
.foot-icon {
  background-color: #f26a8d;
  align-content: center;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 100%;
  display: inline-block;
  font-size: x-large;
}
