header {
  width: 100%;
}
#navbar ul {
  margin-right: right;
}
#navbar li {
  margin: 10px;
  font-size: large;
  font-family: "Playpen Sans", cursive;
}
#header {
  background-color: transparent;
}

.nav-ithem,
.navbar-brand {
  cursor: pointer;
}
.navbar {
  width: 100%;
  transition: background-color 1s ease;
}
